.Rproj.user/A4355878/rmd-outputs
.Rproj.user/A4355878/saved_source_markers
.Rproj.user/A4355878/pcs/files-pane.pper
.Rproj.user/A4355878/pcs/source-pane.pper
.Rproj.user/A4355878/pcs/windowlayoutstate.pper
.Rproj.user/A4355878/pcs/workbench-pane.pper
.Rproj.user/A4355878/sources/prop/6FBBEA3D
.Rproj.user/A4355878/sources/prop/92C179BA
.Rproj.user/A4355878/sources/prop/A3022F27
.Rproj.user/A4355878/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user
PS 904 Research.Rproj
